@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #212121;
}

#starter-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

#title {
    font-size: 3rem;
    color: white;
    text-align: center;
}

#start-button {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

#start-button:hover {
    background-color: rgba(255, 255, 255, .8);
    transform: scale(1.1);
}

#game-container {
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#scores-container {
    display: flex;
    color: white;
    gap: 120px;
    font-size: 1.5rem;
}

#choices-container {
    display: flex;
    gap: 40px;
}

#choices-container div {
    cursor: pointer;
    background-color: #f7f7f7;
    padding: 120px 60px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 12px;
}

#choices-container div:hover {
    background-color: rgba(255, 255, 255, .8);
}

#round-text {
    color: white;
    font-size: 1.25rem;
    width: 33%;
    word-wrap: break-word;
    text-align: center;
}